body {
    *.hide {
        display: none;
    }

    *.invisible {
        opacity: 0;
    }
}

.fixed {
    overflow: hidden;
}

// FOCUS-VISIBLE
// скрываем фокусные стили, если используется не клавиатура
// .js-focus-visible button:focus:not(.focus-visible) {
//     border-color: transparent;
// }

section {
    padding: 100px 0;

    // min-height: 900px;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}

.nav__list.show {
    transform: translateX(0);
}

.order-btn {
    @extend %order-btn;
}

.card.no-discription {
    min-height: auto;

    .card__box {
        height: auto;
    }
}

body .fixed-btn {
    position: fixed;
    right: 100px;
    top: 50px;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        display: block;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #ffd8df90;
        transform: translate(-9px, -14px);
    }
}

.top-btn {
    position: fixed;
    right: 100px;
    bottom: 50px;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url(../images/icons/arrows/arrow-up.svg);
    background-size: 50%;
    background-color: #ffd8df90;

    @extend %bg-center;
    @extend %colors-action-btn;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: 50px;
    background-color: $text-color-tiffany;
}

.cart::-webkit-scrollbar-track-piece:end {
    margin-bottom: 25px;
    background: transparent;
}

.cart::-webkit-scrollbar-track-piece:start {
    margin-top: 25px;
    background: transparent;
}

.error {
    color: #f00;
}