@media (max-width: 1390px) {
    .gallery {
        .slick-arrow {
            top: unset;
            bottom: -120px;
        }

        .slick-prev {
            left: 50%;
            transform: translate(-125%, -50%);
        }

        .slick-next {
            right: 50%;
            transform: translate(125%, -50%);
        }
    }
}

@media (max-width: 1200px) {
    .icon__box {
        right: 10px;
        top: 10px;
        transform: unset;
    }

    .logo {
        margin: 0 40px;
        max-width: 100px;
    }

    .nav {
        transform: translateY(-25%);

        &__link {
            font-size: 24px;
        }
    }

    .home {
        &__text {
            font-size: 20px;
        }

        &__title {
            font-size: 48px;
            line-height: 48px;

            span {
                font-size: inherit;
            }
        }

        &__img {
            max-width: 350px;
        }
    }

    .offers {
        &__box {
            display: flex;
            column-gap: unset;
            flex-wrap: wrap;
            justify-content: space-around;
            row-gap: unset;
        }
    }

    .offer {
        margin: 15px;
    }

    .reviews {
        &__slider-box {
            align-items: stretch;
        }

        &__view {
            margin: 0;
            padding: 0 20px;
            max-width: 100%;

            &::after {
                display: none;
            }
        }

        &__view-name {
            margin-bottom: 20px;
        }

        &__view-avatar {
            float: left;
            margin-right: 15px;
            width: 50px;
            height: 50px;
            opacity: 1;
        }

        &__view-text {
            margin-bottom: 70px;
        }

        &__nav {
            width: 0;
            height: 0;
        }
    }
}

@media (max-width: 998px) {
    .home {
        &__wrapper {
            padding-left: 0;
        }

        &__title {
            font-size: 42px;
            line-height: 42px;
        }

        .hollyday {
            &__slider-box {
                margin-bottom: 30px;
            }

            &__text {
                padding: 0;
            }

            &__content {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 940px) {
    .home {
        &__text {
            font-size: 16px;
            transform: translateY(-25%);
        }

        &__phone {
            padding-right: 30px;
        }
    }

    .logo {
        margin: 10px 15px 0;
        max-width: 75px;
    }

    .nav {
        transform: translateY(0);

        &__link {
            font-size: 20px;
        }

        &__list-item:nth-child(4) {
            margin-right: 100px;
        }
    }

    .home {
        &__title {
            font-size: 36px;
            line-height: 36px;
        }
    }

    .decor {
        padding: 100px 0;

        &::before {
            height: 100px;
        }
    }

    .info {
        padding: 50px 0;
    }

    .assortment {
        &__filter-btn {
            font-size: 24px;
        }
    }

    .reviews {
        &__view-img {
            max-width: 300px;
            max-height: 300px;
        }
    }
}

@media (max-width: 840px) {
    .nav {
        &__link {
            font-size: 18px;
        }
    }

    .info p {
        padding: 0 30px;
    }

    .info p,
    .offer p {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 28px;
    }

    .home {
        &__img {
            max-width: 290px;
        }
    }

    .assortment {
        &__filter-btn:not(:last-child) {
            margin-right: 30px;
        }
    }

    .contacts {
        &__wrapper {
            padding: 30px 40px;
            width: auto;
            height: auto;
        }

        &__list-item {
            font-size: 24px;
        }
    }
}

@media (max-width: 772px) {
    .logo {
        display: none;
    }

    .logo-min {
        display: block;
    }

    .nav {
        position: absolute;
        z-index: 99;
        transform: translateY(-150%);
        transition: all 0.3s;

        &::after {
            display: none;
        }

        &__list {
            flex-direction: column;
            padding-bottom: 20px;
            transition: all 0.3s;
        }

        &__list-item:not(:last-child) {
            margin: 0;
        }

        &__link {
            display: block;
            padding: 5px 0;
            font-size: 30px;
        }
    }

    .burger {
        display: inline-block;
    }

    .mobile-icon {
        position: absolute;
        left: 20px;
        top: 17px;
    }

    .icon__box {
        padding-top: 5px;
    }

    .home {
        .fixed {
            background-image: unset;
            background-color: #fff;
        }

        &__top {
            z-index: 100;
            padding: 5px 0;
        }

        &__text {
            display: none;
        }

        &__text-wrapper {
            padding-top: 10px;
        }

        &__text-wrapper::before {
            display: none;
        }

        &__img {
            margin-bottom: 100px;
            max-width: 210px;
        }
    }

    .home .hollyday h2,
    .title {
        margin-bottom: 30px;
        padding-top: 30px;
    }

    .decor {
        padding: 50px 0;
        background-position-y: 30px;

        &::before {
            height: 50px;
        }
    }

    .info {
        padding: 20px 0;
    }

    .assortment {
        &__filter {
            &::after {
                display: none;
            }
        }

        &__filter-btn {
            font-size: 18px;
        }
    }

    .gallery {
        min-height: 700px;
    }

    .reviews {
        &__view-img {
            max-width: 250px;
            max-height: 250px;
        }

        &__view-name {
            margin-bottom: 20px;
            font-size: 38px;
            line-height: 42px;
        }

        &__view-text {
            font-size: 22px;
            line-height: 1.5;
        }
    }
}

@media (max-width: 640px) {
    body .fixed-btn {
        right: 27px;
        top: 27px;
    }

    .order-btn {
        width: 250px;
        height: 72px;
        font-size: 24px;
    }

    .home .hollyday h2,
    .title {
        padding-top: 0;
        font-size: 38px;

        span {
            font-size: inherit;
        }
    }

    .offer {
        &__title {
            margin-bottom: 20px;
            font-size: 30px;
            line-height: 32px;
        }
    }

    .assortment {
        &__filter-btn:not(:last-child) {
            margin-right: 10px;
        }
    }

    .top-btn {
        right: 15px;
        bottom: 15px;
    }

    .reviews {
        &__view-img {
            max-width: 200px;
            max-height: 200px;
        }

        &__view-name {
            margin-bottom: 20px;
            font-size: 36px;
            line-height: 40px;
        }

        &__view-text {
            font-size: 20px;
            line-height: 1.5;
        }
    }
}

@media (max-width: 480px) {
    .card {
        margin: 15px 10px;
        min-height: unset;

        &__box {
            height: auto;
        }

        &__title {
            margin: 0;
            font-size: 20px;
        }

        &__discription {
            margin-bottom: 5px;
            font-size: 14px;
        }

        &__price-box {
            font-size: 22px;
            line-height: 24px;
        }

        .jq-number {
            padding: 0 25px;

            &__field {
                input {
                    font-size: 22px;
                    line-height: 24px;
                }
            }

            &__spin,
            &__field {
                width: 25px;
                height: 25px;
            }
        }
    }

    .info p,
    .offer p {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 24px;
    }

    .home {
        &__wrapper {
            padding-left: 10px;
            height: auto;
        }

        &__title {
            margin-bottom: 25px;
            font-size: 28px;
            line-height: 28px;
        }

        &__img {
            margin-bottom: 30px;
            max-width: 150px;
        }
    }

    .home .hollyday h2,
    .title {
        margin-bottom: 20px;
        font-size: 28px;
    }

    .order-btn {
        margin-bottom: 30px;
        width: 210px;
        height: 50px;
        font-size: 20px;
    }

    .gallery {
        min-height: 500px;

        &__img {
            width: 250px;
            height: 250px;
        }

        .slick-arrow {
            bottom: -90px;
            width: 50px;
            height: 50px;
        }
    }

    .offer {
        &__title {
            margin-bottom: 10px;
            font-size: 24px;
            line-height: 28px;
        }
    }

    .reviews {
        &__view-img {
            max-width: 140px;
            max-height: 140px;
        }

        &__view-name {
            margin-bottom: 10px;
            font-size: 32px;
            line-height: 34px;
        }

        &__view-text {
            font-size: 18px;
            line-height: 1.5;
        }

        .slick-arrow {
            width: 50px;
            height: 50px;
        }

        li.slick-active button {
            font-size: 36px;
        }
    }

    .contacts {
        // height: auto;
        max-height: 520px;

        &__wrapper {
            margin: 0 10px;
        }

        &__list-item {
            padding-left: 35px;
            font-size: 20px;

            &::before {
                width: 24px;
            }
        }
    }
}

@media (max-width: 396px) {
    .icon {
        &__box {
            right: 10px;
        }

        &__link:not(:last-child) {
            margin-right: 0;
        }
    }

    .mobile-icon {
        left: 10px;
    }

    .card {
        &__img {
            height: 180px;
        }

        &__button {
            padding: 10px 20px;
            font-size: 18px;
            line-height: 22px;
        }
    }

    .info p,
    .offer p {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
    }

    .home {
        &__title {
            font-size: 22px;
            line-height: 22px;
        }

        &__img {
            max-width: 110px;
        }

        .hollyday .slick-list,
        .hollyday__img,
        .hollyday__slider-box {
            max-width: 200px;
            max-height: 200px;
        }
    }

    .home .hollyday h2,
    .title {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 28px;
    }

    .order-btn {
        width: 150px;
        height: 40px;
        font-size: 16px;
    }

    .gallery {
        min-height: 460px;
    }

    .offer {
        &__img {
            display: none;
        }

        &__title {
            padding-top: 30px;
        }
    }

    .reviews {
        &__view-img {
            margin-right: 10px;
            max-width: 120px;
            max-height: 120px;
        }

        &__view-name {
            margin-bottom: 10px;
            font-size: 32px;
            line-height: 32px;
        }

        &__view-avatar {
            display: none !important;
        }

        &__view-text {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    .contacts {
        &__list-item {
            font-size: 16px;
            line-height: 24px;

            &::before {
                width: 20px;
                height: 24px;
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    .row {
        &__delete-btn {
            min-width: 20px;
            min-height: 20px;
        }

        .jq-number {
            padding: 0 $spin-size-small;

            &__field {
                width: $spin-size-small;
                height: $spin-size-small;

                input {
                    font-size: $spin-text-size-small;
                    line-height: $spin-size-small;
                }
            }

            &__spin {
                width: $spin-size-small;
                height: $spin-size-small;
            }
        }

        &__text {
            font-size: 14px;
        }

        &__price-box {
            font-size: 12px;
        }
    }
}