$text-color-brown-dark: #692508;
$text-color-brown: #906047;
$text-color-brown-light: #c79276;
$text-color-tiffany: #508c81;
$text-color-tiffany-moire: #537674;
$text-color-pink: #e58e9e;
$text-color-pink-light: #ffd8df;
$text-color-pink-moire: #836b6c;
$text-color-violet-moire: #504e61;
$text-color-blackly: #191833;
$text-color-blackly-tiffany: #364949;

//
$bg-color-tiffany: #e6fffb;
$bg-color-tiffany-light: #fbfffe;
$bg-color-tiffany-dark: #bdfff4;
$bg-color-peach: #fff4ef;

//
$accent-color: #fdd892;

//
$spin-size: 40px;
$spin-text-size: 30px;
$spin-size-medium: 30px;
$spin-text-size-medium: 24px;
$spin-size-small: 20px;
$spin-text-size-small: 16px;

// DECOR
%decor-before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    height: 135px;
    background-repeat: repeat-x;
}

// BUTTON & LINK
%slick-arrow {
    border-radius: 50%;
    font-size: 0 !important;

    &:focus {
        border-color: #fdd892;
    }

    @extend %clear-btn;
    @extend %bg-center;
}

%slick-prev {
    background-image: url(../images/icons/arrows/button-left.svg);

    &:hover {
        background-image: url(../images/icons/arrows/button-left-hover.svg);
    }

    &:active {
        background-image: url(../images/icons/arrows/button-left-active.svg);
    }
}

%slick-next {
    background-image: url(../images/icons/arrows/button-right.svg);

    &:hover {
        background-image: url(../images/icons/arrows/button-right-hover.svg);
    }

    &:active {
        background-image: url(../images/icons/arrows/button-right-active.svg);
    }
}

%nav-link {
    outline: none;
    border-bottom: 1px solid transparent;
    font-size: 30px;
    line-height: 36px;
    color: $text-color-brown-dark;

    &:focus {
        color: $text-color-tiffany;
    }

    &:hover {
        border-bottom-color: $text-color-brown-light;
        color: $text-color-brown-light;
    }

    &:active {
        border-bottom-color: transparent;
        color: $text-color-tiffany;
    }

    @extend %C-600;
}

%clear-btn {
    border: 2px solid transparent;
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

%order-btn {
    outline: none;
    border-radius: 38px;
    width: 370px;
    height: 78px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    line-height: 33px;

    @extend %colors-order-btn;
    @extend %F-400;
}

%cart-order-btn {
    outline: none;
    border-radius: 38px;
    width: 190px;
    height: 40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    line-height: 22px;

    @extend %colors-order-btn;
    @extend %F-400;
}

%colors-order-btn {
    border: 2px solid $text-color-brown;
    color: $text-color-brown;
    background-color: $bg-color-tiffany;

    &:focus {
        border-color: $text-color-tiffany;
    }

    &:hover {
        background-color: $bg-color-tiffany-light;
    }

    &:active {
        background-color: $bg-color-tiffany-dark;
    }
}

%colors-action-btn {
    border-color: #f5ced5;
    background-color: $text-color-pink-light;

    &:focus {
        border-color: $text-color-tiffany;
    }

    &:hover {
        box-shadow: (0 4px 4px rgba(0, 0, 0, 0.25));
        background-color: #feedf0;
    }

    &:active {
        border-color: $text-color-pink-light;
        background-color: #ffacbb;
    }
}

%colors-input-btn {
    &:hover {
        background-color: $text-color-pink-light;
    }

    &:active {
        background-color: #ffacbb;
    }
}

// DISPLAY
%dfsbc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%dfcc {
    display: flex;
    align-items: center;
    justify-content: center;
}

// TEXT
%title-h2 {
    font-size: 55px;
    line-height: 60px;
    text-align: center;

    span {
        font-size: 70px;

        @extend %CF-400;
    }

    @extend %P-400;
}

%phone {
    outline: none;
    color: inherit;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

// BACKGROUND
%bg-center {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// FONTS
%C-600 {
    font-family: "Cormorant-Bold", serif;
    font-weight: 600;
}

%F-400 {
    font-family: "Forum-Regular", serif;
    font-weight: 400;
}

%N-400 {
    font-family: "Nunito-Regular", serif;
    font-weight: 400;
}

%P-400 {
    font-family: "Pattaya-Regular", serif;
    font-weight: 400;
}

%CF-400 {
    font-family: "CityFlowersscriptTwo", serif;
    font-weight: 400;
}

%PT-400 {
    font-family: "PTSerif-Regular", serif;
    font-weight: 400;
}