@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

//-------------------------------------

.home {
    height: 900px;
    background-image: url(../images/bg/home-bg.jpg);

    &__wrapper {
        height: 600px;

        @extend %dfsbc;
    }

    &__text-wrapper {
        max-width: 670px;
    }

    &__title {
        margin-bottom: 50px;
        color: $text-color-brown;

        @extend %title-h2;
    }

    @extend %bg-center;
}

.logo {
    margin: 0 auto;
    margin-bottom: 20px;
}

.nav {
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 50px;
        background-image: url(../images/line-art-brown.png);
        background-size: contain;

        @extend %bg-center;
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    &__list-item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__link {
        @extend %nav-link;
    }
}

//-------------------------------------

@import "media";