@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

// -------------------------------------

.home {
    padding: 20px 0 0;
    background-image: url(../images/bg/home-bg.jpg);

    &__wrapper {
        height: 600px;

        @extend %dfsbc;
    }

    &__text-wrapper {
        max-width: 670px;
    }

    &__title {
        margin-bottom: 50px;
        text-align: left;
        color: $text-color-brown;

        @extend %title-h2;
    }

    @extend %bg-center;
}

.logo {
    margin: 0 auto;
    margin-bottom: 20px;
}

.nav {
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 50px;
        background-image: url(../images/line-art-brown.png);
        background-size: contain;

        @extend %bg-center;
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    &__list-item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__link {
        @extend %nav-link;
    }
}

.assortment {
    background-color: $bg-color-tiffany;

    &__title {
        color: $text-color-tyffany;

        @extend %title-h2;
    }

    &__filter {
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 50px;
            background-image: url(../images/line-art-tiffany.png);
            background-size: contain;

            @extend %bg-center;
        }
    }
}

.assortment-filter {
    text-align: center;

    &__inner {
        display: inline-block;
    }
}

.cakes {
    background-color: $bg-color-cherry-light;

    &__title {
        color: $text-color-pink-moire;

        @extend %title-h2;
    }
}

.gallery {
    background-color: $bg-color-tiffany;

    &__title {
        color: $text-color-tyffany;

        @extend %title-h2;
    }
}

.offers {
    background-color: $bg-color-peach;

    &__title {
        color: $text-color-brown-dark;

        @extend %title-h2;
    }
}

.delivery {
    background-color: $bg-color-sky;

    &__title {
        color: $text-color-tyffany-moire;

        @extend %title-h2;
    }
}

.reviews {
    background-color: $bg-color-tiffany;

    &__title {
        color: $text-color-tyffany;

        @extend %title-h2;
    }
}

.contacts {
    height: 100vh;
    background-image: url(../images/bg/contacts-bg.jpg);

    &__wrapper {
        border-radius: 80px;
        padding: 60px 80px;
        width: 770px;
        height: 470px;
        background-color: #fff;
    }

    &__title {
        margin-bottom: 25px;
        color: $text-color-tyffany-moire;

        @extend %title-h2;
    }

    &__list-item {
        position: relative;
        padding-left: 50px;
        font-size: 36px;
        line-height: 40px;
        color: $text-color-blackly-tiffany;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 32px;
            height: 42px;
            background-position: center;
            background-repeat: no-repeat;
        }

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @extend %F-400;
    }

    &__list-item--location {
        &::before {
            background-image: url(../images/_icons/location.svg);
        }
    }

    &__list-item--phone {
        &::before {
            background-image: url(../images/_icons/phone.svg);
        }
    }

    &__list-item--clock {
        &::before {
            background-image: url(../images/_icons/clock.svg);
        }
    }

    @extend %bg-center;
    @extend %dfcc;
}

// -------------------------------------

@import "media";