@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

// -------------------------------------

.home {
    padding: 20px 0 0;
    background-image: url(../images/main/bg/home-bg.jpg);

    &__wrapper {
        height: 500px;

        @extend %dfsbc;
    }

    &__text-wrapper {
        max-width: 670px;
    }

    &__title {
        margin-bottom: 50px;
        text-align: left;
        color: $text-color-brown;

        @extend %title-h2;
    }

    @extend %bg-center;
}

.logo {
    margin: 0 auto;
    margin-bottom: 20px;
}

.logo-min {
    display: none;
    margin: 0 auto;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 50px;
        background-image: url(../images/main/decor/line-art-brown.png);
        background-size: contain;

        @extend %bg-center;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__list-item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__link {
        @extend %nav-link;
    }
}

.icon {
    &__box {
        padding-left: 20px;
    }

    &__link {
        outline: none;

        svg path {
            fill: $text-color-brown-dark;
        }

        &:not(:last-child) {
            margin-right: 16px;
        }

        &:focus svg path {
            fill: $text-color-tiffany;
        }

        &:hover svg path {
            fill: $text-color-brown-light;
        }

        &:active svg path {
            fill: $text-color-tiffany;
        }
    }
}

.mobile-icon {
    display: none;
    cursor: pointer;
}

.cancel {
    margin-bottom: 10px;
}

.assortment {
    position: relative;
    padding: 135px 0;
    background-image: url(../images/main/decor/lily-pattern.svg);
    background-color: $bg-color-tiffany;

    &::before {
        background-image: url(../images/main/decor/art1.svg);
        background-color: $bg-color-tiffany;

        @extend %decor-before;
    }

    &__title {
        margin-bottom: 25px;
        padding-top: 65px;
        color: $text-color-tiffany;

        @extend %title-h2;
    }

    &__filter {
        text-align: center;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 50px;
            background-image: url(../images/main/decor/line-art-tiffany.png);
            background-size: contain;

            @extend %bg-center;
        }
    }

    &__filter-btn {
        font-size: 30px;
        line-height: 34px;
        color: $text-color-blackly;

        &:not(:last-child) {
            margin-right: 60px;
        }

        &:focus {
            color: $text-color-pink;
        }

        &:hover {
            border-bottom-color: $text-color-pink-light;
            color: $text-color-pink-light;
        }

        &:active {
            border-bottom-color: $text-color-pink;
            color: $text-color-pink;
        }

        @extend %clear-btn;
        @extend %F-400;
    }

    &__filter-btn--active {
        border-bottom-color: $text-color-pink;
        color: $text-color-pink;
    }

    &__content {
        font-weight: 900;
        text-align: center;

        @extend %N-400;
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        opacity: 1;
        transition: all 0.3s;
    }

    &__card {
        margin: 45px 20px;
        background-color: #fff;
    }
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 40px;
    width: 100%;

    // min-height: 580px;
    max-width: 370px;
    box-shadow: 0 4px 20px 2px #86a9a6;

    &__img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
    }

    &__box {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 23px 23px;

        // height: 420px;
    }

    &__title {
        margin-bottom: 5px;
        font-size: 30px;
        line-height: 28px;
        text-align: center;

        @extend %F-400;
    }

    &__discription {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 24px;
        text-align: left;

        @extend %N-400;
    }

    &__select {
        margin-bottom: 5px;

        @extend %dfsbc;
    }

    &__price-box {
        display: inline-block;
        font-size: 30px;
        line-height: 34px;

        @extend %PT-400;
    }

    &__button {
        display: block;
        margin: 0 auto;
        border-radius: 75px;
        padding: 10px 40px;
        font-size: 24px;
        line-height: 26px;

        @extend %F-400;
        @extend %clear-btn;
        @extend %colors-action-btn;
    }

    .jq-number {
        padding: 0 $spin-size;

        &__field {
            width: $spin-size;
            height: $spin-size;

            input {
                font-size: $spin-text-size;
                line-height: $spin-size;
            }
        }

        &__spin {
            width: $spin-size;
            height: $spin-size;
        }
    }
}

// стилизованный инпут глобально
.jq-number {

    // поле ввода
    &__field {
        border: none;
        box-shadow: none;

        input {
            padding: 0;
            font-family: "PTSerif-Regular", serif;
            text-align: center;
        }

        @extend %dfcc;
    }

    // кнопки
    &__spin {
        border: 1px solid #000;
        border-radius: 50%;
        height: 100%;
        box-shadow: none;
        background: transparent;

        &::after {
            left: 0;
            width: 65%;
            height: 2px;
            text-align: center;
            text-shadow: none;
            background: #000;
        }

        // кнопка минус
        &.minus {
            left: 0;
            top: 0;

            &::after {
                content: "";
                left: 50%;
                top: 50%;
                border: none;
                transform: translate(-50%, -50%);
            }
        }

        // кнопка плюс
        &.plus {
            right: 0;

            &::before {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                display: block;
                width: 2px;
                height: 65%;
                background: #000;
                transform: translate(-50%, -50%);
            }

            &::after {
                content: "";
                left: 50%;
                top: 50%;
                border: none;
                transform: translate(-50%, -50%);
            }
        }

        @extend %colors-input-btn;
        @extend %clear-btn;
    }
}

.cakes {
    min-height: auto;
    background-image: url(../images/main/bg/cakes-bg.jpg);

    &__container {
        display: flex;
        flex-direction: row-reverse;
    }

    &__inner {
        max-width: 800px;
    }

    &__title {
        margin-bottom: 60px;
        color: $text-color-pink-moire;

        @extend %title-h2;
    }

    &__text {
        margin-bottom: 30px;
        padding-right: 10px;
        font-size: 30px;
        line-height: 34px;
        color: $text-color-violet-moire;

        @extend %F-400;
    }

    &__link {
        @extend %phone;
    }

    @extend %bg-center;
}

.gallery {
    position: relative;
    padding: 135px 0;
    background-image: url(../images/main/decor/lily-pattern.svg);
    background-position: 0 0;
    background-color: $bg-color-tiffany;

    &::before {
        background-image: url(../images/main/decor/art2.svg);
        background-color: $bg-color-tiffany;

        @extend %decor-before;
    }

    &__title {
        margin-bottom: 80px;
        padding-top: 65px;
        color: $text-color-tiffany;

        @extend %title-h2;
    }

    &__wrapper {
        position: relative;
        display: inline-block;
        padding-bottom: 15px;
    }

    &__img {
        display: block;
        margin: 0 auto;
        outline: none;
        border: 2px solid transparent;
        border-radius: 40px;
        width: 370px;
        height: 370px;
        box-shadow: 6px 10px 10px #8ebab2;
        object-fit: cover;

        &:focus {
            border-color: $text-color-tiffany;
        }
    }

    &__number {
        position: absolute;
        left: 50%;
        bottom: 30px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 24px;
        line-height: 50px;
        text-align: center;
        color: $text-color-tiffany;
        background-color: #fff;
        transform: translateX(-50%);
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 1;
        width: 70px;
        height: 70px;
        transform: translateY(-50%);

        @extend %slick-arrow;
    }

    .slick-prev {
        left: -85px;

        @extend %slick-prev;
    }

    .slick-next {
        right: -70px;
        background-image: url(../images/icons/arrows/button-right.svg);

        @extend %slick-next;
    }
}

.offers {
    position: relative;
    padding: 135px 0 180px;
    background-image: url(../images/main/decor/lily-pattern.svg);
    background-position: 0 0;
    background-color: $bg-color-peach;

    &::before {
        background-image: url(../images/main/decor/art3.svg);
        background-color: $bg-color-peach;

        @extend %decor-before;
    }

    &__title {
        margin-bottom: 50px;
        padding-top: 65px;
        color: $text-color-brown-dark;

        @extend %title-h2;
    }

    &__box {
        display: grid;
        column-gap: 170px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 170px;
    }
}

.offer {
    overflow: hidden;
    border-radius: 58px;
    max-width: 500px;
    box-shadow: 11px 12px 21px rgba(0, 0, 0, 0.25);
    background-color: #fff;

    &__text-box {
        padding: 0 30px 20px;
    }

    &__title {
        margin-bottom: 40px;
        font-size: 36px;
        line-height: 50px;
        text-align: center;
        color: $text-color-brown-dark;

        @extend %P-400;
    }

    &__img {
        margin-bottom: 40px;
        width: 100%;
        max-height: 370px;
        object-fit: cover;
        object-position: bottom;
    }

    &__text {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 36px;

        @extend %F-400;
    }
}

.delivery {
    min-height: auto;
    background-image: url(../images/main/bg/delivery-bg.jpg);

    &__title {
        margin-bottom: 60px;
        color: $text-color-tiffany-moire;

        @extend %title-h2;
    }

    &__text {
        margin-bottom: 30px;
        padding-left: 30px;
        font-size: 36px;
        line-height: 46px;

        @extend %F-400;
    }

    @extend %bg-center;
}

.reviews {
    position: relative;
    padding: 135px 0 180px;
    background-image: url(../images/main/decor/lily-pattern.svg);
    background-position: 0 0;
    background-color: $bg-color-tiffany;

    &::before {
        background-image: url(../images/main/decor/art4.svg);
        background-color: $bg-color-tiffany;

        @extend %decor-before;
    }

    &__title {
        margin-bottom: 50px;
        padding-top: 65px;
        color: $text-color-tiffany;

        @extend %title-h2;
    }

    &__slider-box {
        display: flex;
        align-items: center;
    }

    &__view {
        position: relative;
        margin-right: 50px;
        max-width: 760px;

        &::after {
            content: "";
            position: absolute;
            right: -10px;
            top: 50%;
            display: block;
            width: 2px;
            height: 560px;
            background-color: $text-color-tiffany;
            transform: translateY(-50%);
        }
    }

    &__view-item {
        display: flex;
        align-items: center;
    }

    &__view-wrapper {
        display: flex;
    }

    &__view-img {
        margin-right: 30px;
        border-radius: 25px;
        width: 100%;
        height: 100%;
        max-width: 370px;
        max-height: 370px;
        box-shadow: 5px 7px 11px #66a2a9;
        object-fit: cover;
        object-position: center;
    }

    &__view-text-box {
        color: $text-color-blackly-tiffany;
    }

    &__view-name {
        font-size: 45px;
        line-height: 50px;

        @extend %F-400;
    }

    &__view-avatar {
        border-radius: 50%;
        width: 1px;
        height: 1px;
        opacity: 0;
    }

    &__view-text {
        font-size: 26px;
        line-height: 36px;

        @extend %N-400;
    }

    &__view {
        .slick-dots {
            bottom: 0;

            li {
                display: none;
            }
        }

        li.slick-active {
            display: block;

            button {
                position: absolute;
                right: 76px;
                width: 56px;
                height: 56px;
                font-size: 42px;
                color: $text-color-blackly-tiffany;
                transform: translateY(-100%);

                @extend %PT-400;
                @extend %clear-btn;
            }
        }

        .slick-arrow {
            position: absolute;
            bottom: 0;
            width: 56px;
            height: 56px;

            @extend %slick-arrow;
        }

        .slick-prev {
            right: 132px;
            z-index: 1;

            @extend %slick-prev;
        }

        .slick-next {
            right: 20px;

            @extend %slick-next;
        }

        .slick-list {
            height: 100%;
        }
    }

    &__nav-item-inner {
        display: flex;
    }

    &__nav-item {
        margin-bottom: 35px;
    }

    &__nav-img {
        display: inline-block;
        margin-right: 20px;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    &__nav-text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 235px;

        @extend %F-400;
    }

    &__nav-name {
        font-size: 36px;
        line-height: 40px;
    }

    &__nav-insta {
        font-size: 24px;
        line-height: 26px;
    }
}

.contacts {
    height: 100vh;
    background-image: url(../images/main/bg/contacts-bg.jpg);

    &__wrapper {
        border-radius: 80px;
        padding: 60px 80px;
        width: 770px;
        height: 470px;
        background-color: #fff;
    }

    &__title {
        margin-bottom: 25px;
        padding-top: 0 !important;
        color: $text-color-tiffany-moire;

        @extend %title-h2;
    }

    &__list-item {
        position: relative;
        padding-left: 50px;
        font-size: 36px;
        line-height: 40px;
        color: $text-color-blackly-tiffany;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 32px;
            height: 42px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @extend %F-400;
    }

    &__list-item--location {
        &::before {
            background-image: url(../images/icons/contacts/location.svg);
        }
    }

    &__list-item--phone {
        &::before {
            background-image: url(../images/icons/contacts/phone.svg);
        }
    }

    &__list-item--clock {
        &::before {
            background-image: url(../images/icons/contacts/clock.svg);
        }
    }

    &__link {
        @extend %phone;
    }

    @extend %bg-center;
    @extend %dfcc;
}

.top-btn {
    display: none;
}

.popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: #0009;

    &__wrapper {
        display: none;
    }

    @extend %dfcc;
}

.cart {
    overflow: auto;
    margin: 3%;
    padding: 30px 10px 15px 20px;
    max-height: 95%;

    p {
        display: inline-block;
    }

    &__row-box {
        margin-bottom: 30px;
    }

    &__row {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__total-row {
        margin-bottom: 30px;
    }

    &__total-row {
        font-size: 24px;
        text-align: center;
    }

    &__submit {
        display: block;
        margin: 0 auto 10px;

        @extend %clear-btn;
        @extend %cart-order-btn;
    }

    &__btn {
        position: relative;
    }

    &__counter {
        position: absolute;
        right: -7px;
        top: -12px;
        display: none;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #fff;
        background-color: #db4949;

        @extend %PT-400;
    }

    @extend %PT-400;
}

.row {
    display: flex;
    align-items: center;
    border-bottom: 2px solid $text-color-tiffany;
    padding-bottom: 7px;

    &__text {
        padding-left: 7px;
        width: 320px;
        word-wrap: break-word;
    }

    &__select-box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &__price-box {
        width: 4 * $spin-size-medium;
        text-align: center;
    }

    &__price {
        margin-right: 5px;
        padding-left: 5px;
    }

    .jq-number {
        padding: 0 $spin-size-medium;

        &__field {
            width: $spin-size-medium;
            height: $spin-size-medium;

            input {
                font-size: $spin-text-size-medium;
                line-height: $spin-size-medium;
            }
        }

        &__spin {
            width: $spin-size-medium;
            height: $spin-size-medium;
        }
    }

    &__delete-btn {
        margin-left: 10px;
        border-radius: 50%;
        min-width: 30px;
        min-height: 30px;
        background-image: url(../images/icons/main/delete.svg);
        background-size: 50%;

        &:hover {
            background-image: url(../images/icons/main/delete-white.svg);
            background-color: #f00;
        }

        @extend %bg-center;
        @extend %clear-btn;
    }
}

.confirm {
    padding: 30px 20px 15px;
    max-width: 320px;
}

.form {
    &__text {
        display: inline-block;
        margin-bottom: 20px;
    }

    &__input {
        margin-bottom: 20px;
        border: 2px solid #aec3c0;
        border-radius: 7px;
        padding: 0 10px;
        width: 100%;
        height: 40px;
    }

    &__submit {
        display: block;
        margin: 0 auto 10px;

        @extend %clear-btn;
        @extend %cart-order-btn;
    }
}

.response {
    padding: 30px;

    @extend %dfcc;
}

// -------------------------------------

@import "media";